<div class=" content">
  <div class=" row">
    <div class="col-md-12 p-5">
      <h1 class="text-center pb-3">Credit Card Interest Rate</h1>
        <p-table 
          #dt1
          dataKey="id"
          [value]="creditCardInterestRate" 
          [rows]="10"
          [rowsPerPageOptions]="[5,10,25,50]" 
          [loading]="creditCardInterestRateLoading" 
          styleClass="p-datatable-gridlines"
          responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th class="text-center">
                        Price
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-collection>
                <tr>
                    <td class="text-center">
                        {{collection.price}}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="1">No collections found.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
  </div>
</div>
