<div class="full-page register-page">
  <div class=" content">
    <div class=" container">
      <div class=" row">
        <div class="col-lg-6 col-md-6 ml-auto mr-auto">
					<div class="pre-register-form">
						<h1 class="title">New to Machine Learning Intelligence?</h1>
            <div class="pre-register-btn">
              <button class="btn btn-block">
                <i class="fa fa-google"></i>Sign Up with Google
              </button>
            </div>
            <div class="pre-register-btn">
              <button class="btn btn-block">
                <i class="fa fa-apple"></i>Sign Up with Apple
              </button>
            </div>
            <div class="pre-register-btn">
              <button class="btn btn-block" (click)="signUpWithEmail()">
                Sign Up with email
              </button>
            </div>
            <div class="agreement">
              By signing up, you agree to the <a>Terms of Service</a> and 
              <a>Privacy Policy</a>, including <a>Cookie Use</a>.
            </div>
					</div>
        </div>
      </div>
    </div>
  </div>
</div>