<footer
  class="footer text-center text-lg-start text-white"
  >
    <div class="container p-4 pb-0">
      <section class="">
        <div class="row">
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <img width="60px" class="mx-auto" src="../../../assets/img/logo-white.png"/>
            <h5 class="text-uppercase mb-4 font-weight-bold mt-3 pt-5">
              Machine Learning Intelligence
            </h5>
            
          </div>

          <hr class="w-100 clearfix d-md-none" />

          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              Links
            </h6>
            <p>
              <a class="text-white" href="/#/faq">FAQ</a>
            </p>
            <p>
              <a class="text-white" href="/#/terms-conditions">Terms & Conditions</a>
            </p>
            <p>
              <a class="text-white" href="/#/privacy-policy">Privacy Policy</a>
            </p>
            <p>
              <a class="text-white" href="/#/about-us">About Us</a>
            </p>
            <p>
              <a class="text-white" href="/#/contact-us">Contact Us</a>
            </p>
          </div>

          <hr class="w-100 clearfix d-md-none" />
          
        </div>
      </section>

      <hr class="my-3">

      <section class="download">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-4">
            <p>Download the MLI App</p>
            <a class="text-white" href="/#/*">
              <img width="100px" src="../../../assets/img/App_Store.svg">
            </a>
            <a class="text-white" href="/#/*">
              <img width="100px" src="../../../assets/img/Google_Play.svg">
            </a>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-4">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-4">
            <p>Follow us</p>
            <a
               class="btn btn-outline-light btn-floating m-1"
               class="text-white"
               role="button"
               title="facebook"
               ><i class="fab fa-facebook-f"></i
              ></a>

            <a
               class="btn btn-outline-light btn-floating m-1"
               class="text-white"
               role="button"
               title="twitter"
               ><i class="fab fa-twitter"></i
              ></a>

            <a
               class="btn btn-outline-light btn-floating m-1"
               class="text-white"
               role="button"
               title="google"
               ><i class="fab fa-google"></i
              ></a>

            <a
               class="btn btn-outline-light btn-floating m-1"
               class="text-white"
               role="button"
               title="instagram"
               ><i class="fab fa-instagram"></i
              ></a>

              <a
                class="btn btn-outline-light btn-floating m-1"
                class="text-white"
                role="button"
                href="https://www.linkedin.com/company/89752477"
                target="_blank"
                title="linkedin"
               ><i class="fab fa-linkedin"></i
                ></a>
          </div>
        </div>
      </section>
      <section class="p-3 pt-0">
        <div class="row d-flex align-items-center">
          <div class="col-md-12 col-lg-12 text-center text-md-start">
            <div class="p-3">
              <p>© Copyright {{test | date: 'yyyy'}} All Rights Reserved, Group 8 Security Solutions Inc. DBA Machine Learning Intelligence</p>
            </div>
          </div>

        </div>
      </section>
    </div>
  </footer>
