<div class=" content">
  <div class=" row">
    <div class="col-md-12">
      <h1 class="text-center">{{selectedSymbol}} Cash flow</h1>
      <p-table 
        #dt1
        [value]="summary" 
        responsiveLayout="scroll" 
        styleClass="p-datatable-gridlines">
          <ng-template pTemplate="caption">
          <div class="d-flex justify-content-between">
            <div>
              <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
              <p-dropdown 
                #cashflowPeriod 
                [options]="periods" 
                [(ngModel)]="selectedPeriod" 
                (onChange)="getCashflow(cashflowSymbol.value, cashflowPeriod.value)">
              </p-dropdown>
            </div>
            <div>
              <p-autoComplete 
                #cashflowSymbol 
                [(ngModel)]="selectedSymbol" 
                [suggestions]="filteredSymbols" 
                (completeMethod)="filterSymbol($event)"
                [minLength]="1" 
                (onSelect)="getCashflow(cashflowSymbol.value, cashflowPeriod.value)" 
                placeholder="Search symbol">
              </p-autoComplete>
              <button 
                pButton 
                type="button" 
                icon="pi pi-times" 
                class="p-button-outlined"
                (click)="cancel()">
              </button>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Symbol</th>
                <th>Id</th>
                <th>Key</th>
                <th>Subkey</th>
                <th>Date</th>
                <th>Updated</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-summary>
            <tr>
                <td>{{summary.symbol}}</td>
                <td>{{summary.id}}</td>
                <td>{{summary.key}}</td>
                <td>{{summary.subkey}}%</td>
                <td>{{summary.date | date: 'dd/MM/yyyy'}}</td>
                <td>{{summary.updated | date: 'dd/MM/yyyy'}}</td>
              </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="col-md-12 mt-5">
      <h1 class="text-center">Cash flow</h1>
      <p-table #dt2 [value]="cashflows" dataKey="id"
        [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,20]" [loading]="loading" styleClass="p-datatable-gridlines"
        [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        responsiveLayout="scroll">
        <ng-template pTemplate="caption">
            <div class="d-flex justify-content-between">
                <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt2)"></button>
            </div>
          <h6 class="mt-4">Please use <i class="pi pi-filter"></i> for advanced search</h6>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
              <th>
                  <div class="flex justify-content-center align-items-center">
                      Report Date
                      <p-columnFilter type="date" field="reportDate" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center align-items-center">
                      Fiscal Date
                      <p-columnFilter type="date" field="fiscalDate" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center align-items-center">
                      Fiscal Quarter
                      <p-columnFilter type="numeric" field="fiscalQuarter" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center align-items-center">
                      Fiscal Year
                      <p-columnFilter type="numeric" field="fiscalYear" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center align-items-center">
                      Currency
                      <p-columnFilter type="text" field="currency" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center align-items-center">
                      Net Income
                      <p-columnFilter type="numeric" field="netIncome" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center align-items-center">
                      Depreciation
                      <p-columnFilter type="numeric" field="depreciation" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center align-items-center">
                      Changes in Receivables
                      <p-columnFilter type="numeric" field="changesInReceivables" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center align-items-center">
                      Changes in Inventories
                      <p-columnFilter type="numeric" field="changesInInventories" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center align-items-center">
                      Cash Change
                      <p-columnFilter type="numeric" field="cashChange" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center align-items-center">
                      Cash Flow
                      <p-columnFilter type="numeric" field="cashFlow" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center align-items-center">
                      Capital Expenditures
                      <p-columnFilter type="numeric" field="capitalExpenditures" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center align-items-center">
                      Investments
                      <p-columnFilter type="numeric" field="investments" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center align-items-center">
                    Investing Activity Other
                      <p-columnFilter type="numeric" field="investingActivityOther" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center align-items-center">
                    Total Investing Cash Flows
                      <p-columnFilter type="numeric" field="totalInvestingCashFlows" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center align-items-center">
                      Dividends Paid
                      <p-columnFilter type="numeric" field="dividendsPaid" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center align-items-center">
                      Net Borrowings
                      <p-columnFilter type="numeric" field="netBowwings" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center align-items-center">
                      Other Financing Cash Flows
                      <p-columnFilter type="numeric" field="otherFinancingCashFlows" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center align-items-center">
                      Cash Flow Financing
                      <p-columnFilter type="numeric" field="cashFlowFinancing" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center align-items-center">
                      ExchangeRateEffect
                      <p-columnFilter type="numeric" field="exchangeRateEffect" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center align-items-center">
                      Id
                      <p-columnFilter type="numeric" field="id" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center align-items-center">
                      Key
                      <p-columnFilter type="numeric" field="key" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center align-items-center">
                      Subkey
                      <p-columnFilter type="numeric" field="subkey" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center align-items-center">
                      Filing Type
                      <p-columnFilter type="numeric" field="filingType" display="menu"></p-columnFilter>
                  </div>
              </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-collection>
            <tr>
              <td>
                  {{collection.reportDate | date: 'MM/dd/yyyy'}}
              </td>
              <td>
                  {{collection.fiscalDate | date: 'MM/dd/yyyy'}}
              </td>
              <td>
                  {{collection.fiscalQuarter}}
              </td>
              <td>
                  {{collection.fiscalYear}}
              </td>
              <td>
                  {{collection.currency}}
              </td>
              <td>
                  {{collection.netIncome}}
              </td>
              <td>
                  {{collection.depreciation}}
              </td>
              <td>
                  {{collection.changesInReceivables}}
              </td>
              <td>
                  {{collection.changesInInventories}}
              </td>
              <td>
                  {{collection.cashChange}}
              </td>
              <td>
                  {{collection.cashFlow}}
              </td>
              <td>
                  {{collection.capitalExpenditures}}
              </td>
              <td>
                  {{collection.investments}}
              </td>
              <td>
                  {{collection.investingActivityOther}}
              </td>
              <td>
                  {{collection.totalInvestingCashFlows}}
              </td>
              <td>
                  {{collection.dividendsPaid}}
              </td>
              <td>
                  {{collection.netBorrowings}}
              </td>
              <td>
                  {{collection.otherFinancingCashFlows}}
              </td>
              <td>
                  {{collection.cashFlowFinancing}}
              </td>
              <td>
                  {{collection.exchangeRateEffect}}
              </td>
              <td>
                  {{collection.id}}
              </td>
              <td>
                  {{collection.key}}
              </td>
              <td>
                  {{collection.subkey}}
              </td>
              <td>
                  {{collection.filingType}}
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
              <tr>
                  <td colspan="26">No collections found.</td>
              </tr>
          </ng-template>
      </p-table>
    </div>
  </div>
</div>
