<div class=" content">
  <div class=" row">
    <div class="col-md-12 mt-5">
      <h1 class="text-center">Upcoming Dividends Market</h1>
        <p-table #dt5 [value]="upcomingDividendsMarket" dataKey="id"
        [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,20]" [loading]="upcomingDividendsMarketLoading" styleClass="p-datatable-gridlines"
        [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['countryCode', 'parValueCurrency']" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
            <div class="flex">
                <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt5)"></button>
            </div>
          <h6 class="mt-4">Please use <i class="pi pi-filter"></i> for advanced search</h6>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
              <th>
                  <div class="flex justify-content-center">
                      Symbol
                      <p-columnFilter type="text" field="symbol" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center">
                      Ex Date
                      <p-columnFilter type="date" field="exDate" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center">
                      Record Date
                      <p-columnFilter type="date" field="recordDate" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center">
                      Payment Date
                      <p-columnFilter type="date" field="paymentDate" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center">
                      Declared Date
                      <p-columnFilter type="date" field="declaredDate" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center">
                      Frequency
                      <p-columnFilter type="text" field="frequency" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center">
                      Flag
                      <p-columnFilter type="numeric" field="flag" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center">
                      Amount
                      <p-columnFilter type="numeric" field="amount" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center">
                      Description
                      <p-columnFilter type="text" field="description" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center">
                      Ref Id
                      <p-columnFilter type="numeric" field="refid" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center">
                      Id
                      <p-columnFilter type="text" field="id" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center">
                      Currency
                      <p-columnFilter type="text" field="currency" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center">
                      Key
                      <p-columnFilter type="text" field="key" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center">
                      Subkey
                      <p-columnFilter type="text" field="subkey" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center">
                      Date
                      <p-columnFilter type="date" field="date" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center">
                      Updated
                      <p-columnFilter type="date" field="updated" display="menu"></p-columnFilter>
                  </div>
              </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-collection>
            <tr>
              <td>
                  {{collection.symbol}}
              </td>
              <td>
                  {{collection.exDate | date: 'MM/dd/yyyy'}}
              </td>
              <td>
                  {{collection.recordDate | date: 'MM/dd/yyyy'}}
              </td>
              <td>
                  {{collection.paymentDate | date: 'MM/dd/yyyy'}}
              </td>
              <td>
                  {{collection.declaredDate | date: 'MM/dd/yyyy'}}
              </td>
              <td>
                  {{collection.frequency}}
              </td>
              <td>
                  {{collection.flag}}
              </td>
              <td>
                  {{collection.amount}}
              </td>
              <td>
                  {{collection.description}}
              </td>
              <td>
                  {{collection.refid}}
              </td>
              <td>
                  {{collection.id}}
              </td>
              <td>
                  {{collection.currency}}
              </td>
              <td>
                  {{collection.key}}
              </td>
              <td>
                  {{collection.subkey}}
              </td>
              <td>
                  {{collection.date | date: 'MM/dd/yyyy'}}
              </td>
              <td>
                  {{collection.updated | date: 'MM/dd/yyyy'}}
              </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="16">No collections found.</td>
            </tr>
        </ng-template>
        </p-table>
    </div>
    <div class="col-md-12 mt-5">
      <h1 class="text-center">Upcoming Earnings Market</h1>
        <p-table #dt6 [value]="upcomingEarningsMarket" dataKey="id"
        [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,20]" [loading]="upcomingEarningsMarketLoading" styleClass="p-datatable-gridlines"
        [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['countryCode', 'parValueCurrency']" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
            <div class="flex">
                <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt6)"></button>
            </div>
          <h6 class="mt-4">Please use <i class="pi pi-filter"></i> for advanced search</h6>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>
                    <div class="flex justify-content-center">
                        Symbol
                        <p-columnFilter type="text" field="symbol" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center">
                        Report Date
                        <p-columnFilter type="date" field="reportDate" display="menu"></p-columnFilter>
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-collection>
            <tr>
                <td>
                    {{collection.symbol}}
                </td>
                <td>
                    {{collection.reportDate | date: 'MM/dd/yyyy'}}
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="2">No collections found.</td>
            </tr>
        </ng-template>
        </p-table>
    </div>
    <div class="col-md-12 mt-5">
      <h1 class="text-center">Upcoming Splits Market</h1>
        <p-table #dt7 [value]="upcomingSplitsMarket" dataKey="id"
        [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,20]" [loading]="upcomingSplitsMarketLoading" styleClass="p-datatable-gridlines"
        [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['countryCode', 'parValueCurrency']" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
            <div class="flex">
                <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt7)"></button>
                <!-- <p-autoComplete #upcomingEventsSymbol [suggestions]="filteredSymbols" (completeMethod)="filterSymbol($event)"
                                [minLength]="1" (onSelect)="getUpcomingEvents(upcomingEventsSymbol.value)" placeholder="Search symbol">
                </p-autoComplete> -->
            </div>
          <h6 class="mt-4">Please use <i class="pi pi-filter"></i> for advanced search</h6>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
              <th>
                  <div class="flex justify-content-center">
                      Symbol
                      <p-columnFilter type="text" field="symbol" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center">
                      Ex Date
                      <p-columnFilter type="date" field="exDate" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center">
                      Declared Date
                      <p-columnFilter type="date" field="declaredDate" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center">
                      From Factor
                      <p-columnFilter type="text" field="fromFactor" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center">
                      Ratio
                      <p-columnFilter type="numeric" field="ratio" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center">
                      To Factor
                      <p-columnFilter type="numeric" field="toFactor" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center">
                      Ref Id
                      <p-columnFilter type="numeric" field="refid" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center">
                      Id
                      <p-columnFilter type="text" field="id" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center">
                      Key
                      <p-columnFilter type="text" field="key" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center">
                      Subkey
                      <p-columnFilter type="text" field="subkey" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center">
                      Date
                      <p-columnFilter type="date" field="date" display="menu"></p-columnFilter>
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center">
                      Updated
                      <p-columnFilter type="date" field="updated" display="menu"></p-columnFilter>
                  </div>
              </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-collection>
            <tr>
              <td>
                  {{collection.symbol}}
              </td>
              <td>
                  {{collection.exDate | date: 'MM/dd/yyyy'}}
              </td>
              <td>
                  {{collection.declaredDate | date: 'MM/dd/yyyy'}}
              </td>
              <td>
                  {{collection.fromFactor}}
              </td>
              <td>
                  {{collection.ratio}}
              </td>
              <td>
                  {{collection.toFactor}}
              </td>
              <td>
                  {{collection.refid}}
              </td>
              <td>
                  {{collection.id}}
              </td>
              <td>
                  {{collection.key}}
              </td>
              <td>
                  {{collection.subkey}}
              </td>
              <td>
                  {{collection.date | date: 'MM/dd/yyyy'}}
              </td>
              <td>
                  {{collection.updated | date: 'MM/dd/yyyy'}}
              </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="12">No collections found.</td>
            </tr>
        </ng-template>
        </p-table>
    </div>
  </div>
</div>
