<div class=" content">
    <div class=" row">
      <div class="container-fluid mx-5">
        <div class="title">
          <h1 class="display-2 text-center mt-5">About Us</h1>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>Machine Learning Intelligence is a financial technology startup offering computational finance engineering
                  as applied to buy side retail and institutional segments. Quantitative strategies, risk models,
                  research tools with advanced functionalities, that allow traders and investors to participate and invest
                  across all markets and make better decisions in following changes across asset classes, market shock and
                  risk. Empowering private investors to diversify from Private equity, Venture Capital, Real Estate and
                  other industries to follow markets accurately without the fear of taking part of a non traditional industry.
                  Supporting the capital markets toward better performance through regulation and transparency.
                Emphasizing the liquidity available in the capital markets over other traditional industries. Our goal is to
                open doors to accredited and non accredited investors by creating collaboration between retail segments,
                institutions, quantitative developers, strategy managers, and academics. Connecting data, analytics,
                implementation and application with a focus on performance, risk management and account control. 
                Quantitative strategies that can be delivered in a variety of ways, often with lower capital requirements. With
                a focus on regulation and compliance, we aim to explore all possibilities on the table and offer 
                  investors access to better science. We aim to offer proprietary data, analytics, and feeds, standard market
                  data, visualization and most importantly, direct access to state of the art quantitative strategy 
                  development built by the top engineers, statisticians, professors and managers. Beyond education to
                  interpretation, beyond interpretation to application, beyond application to performance.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  