p {
  font-family: Lato;
}

body {
  padding: 30px;
}

input {
  color: #000000;
}

.login-form {
  max-width: 500px;
  padding: 40px 30px 60px 30px;
  margin: auto;
  background-color: rgb(255, 255, 255, 1);
  border-radius: 10px;
}

.login-form h1 {
  text-align: center;
  font-size: 40px;
  color: #000000;
}

.login-btn {
  margin-top: 40px;
}

.showpassword-eye {
  display: flex;
  cursor: pointer;
}

.showpassword-eye span {
  border-color: #2b3553 !important;
}
