<div class=" content">
    <div class=" row">
      <div class="container-fluid m-5">
        <div class="title">
          <h1 class="display-2 text-center mt-5">Terms & Conditions</h1>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <span>
                  These terms and conditions outline the rules and regulations for the use of Machine
                  Learning Intelligence's Website, located at https://machinelearningintelligence.com
                  By accessing this website we assume you accept these terms and conditions. Do not
                  continue to use Machine Learning Intelligence if you do not agree to take all of the
                  terms and conditions stated on this page.
                  The following terminology applies to these Terms and Conditions, Privacy Statement
                  and Disclaimer Notice and all Agreements: "Client", "You" and "Your" refers to you, the
                  person log on this website and compliant to the Company’s terms and conditions. "The
                  Company", "Ourselves", "We", "Our" and "Us", refers to our Company. "Party",
                  "Parties", or "Us", refers to both the Client and ourselves. All terms refer to the offer,
                  acceptance and consideration of payment necessary to undertake the process of our
                  assistance to the Client in the most appropriate manner for the express purpose of
                  meeting the Client’s needs in respect of provision of the Company’s stated services, in
                  accordance with and subject to, prevailing law of Canada. Any use of the above
                  terminology or other words in the singular, plural, capitalization and/or he/she or they,
                  are taken as interchangeable and therefore as referring to same.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>Disclaimer</p>
                <span>
                  There is a high degree of risk involved in trading stocks and options. Past results are
                  not indicative of future returns. Machine Learning Intelligence is not a registered
                  investment advisor nor is licensed as such with any federal or state regulatory agency.
                  Machine Learning Intelligence does not manage client assets in any way. Information
                  provided and opinions expressed on the website do not constitute investment advice.
                  Any and all ideas expressed, research, tutorials, and instructional resources are for
                  educational purposes only. The ideas expressed are solely the opinions of Machine
                  Learning Intelligence. We advise everyone to know the risks involved with trading
                  stocks and options. We encourage every visitor to the website to do his/her own
                  research and to consult with his/her own financial advisor(s) prior to engaging in any
                  investing activities, and to make sure he/she knows all the potential risks involved. Any
                  investment decision that results in losses or gains made based on any information on
                  this site, or related services is not the responsibility of Machine Learning Intelligence.
                  Your use of ideas, systems, and/or data provided by Machine Learning Intelligence are
                  at your own risk and it is your sole responsibility to evaluate the accuracy,
                  completeness, and usefulness of the information.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>Cookies</p>
                <span>
                  We employ the use of cookies. By accessing Machine Learning Intelligence, you agreed
                  to use cookies in agreement with the company’s Privacy Policy. Most interactive
                  websites use cookies to let us retrieve the user’s details for each visit. Cookies are usedby our website to enable the functionality of certain areas to make it easier for people
                  visiting our website. Some of our affiliate/advertising partners may also use cookies.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>License</p>
                <span>
                  Unless otherwise stated, the company and/or its licensors own the intellectual property
                  rights for all material on machinelearningintelligence.com. All intellectual property rights
                  are reserved. You may access this from Machine Learning Intelligence for your own
                  personal use subjected to restrictions set in these terms and conditions. You must not:
                  Republish material, Sell, rent or sub-license material, duplicate or copy material
                  Redistribute content. This Agreement shall begin on the date hereof. Parts of this
                  website offer an opportunity for users to post and exchange opinions and information in
                  certain areas of the website. The company does not filter, edit, publish or review
                  Comments prior to their presence on the website. Comments do not reflect the views
                  and opinions of our company, its agents and/or affiliates. Comments reflect the views
                  and opinions of the person who post their views and opinions. To the extent permitted
                  by applicable laws, our company shall not be liable for the Comments or for any liability,
                  damages or expenses caused and/or suffered as a result of any use of and/or posting of
                  and/or appearance of the Comments on this website. Our company reserves the right to
                  monitor all Comments and to remove any Comments which can be considered
                  inappropriate, offensive or causes breach of these Terms and Conditions. You warrant
                  and represent that: You are entitled to post the Comments on our website and have all
                  necessary licenses and consents to do so; The Comments do not invade any
                  intellectual property right, including without limitation copyright, patent or trademark of
                  any third party; The Comments do not contain any defamatory, libelous, offensive,
                  indecent or otherwise unlawful material which is an invasion of privacy The Comments
                  will not be used to solicit or promote business or custom or present commercial
                  activities or unlawful activity. You hereby grant Machine Learning Intelligence a nonexclusive license to use, reproduce, edit and authorize others to use, reproduce and
                  edit any of your Comments in any and all forms, formats or media.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>iFrames</p>
                <span>
                  Without prior approval and written permission, you may not create frames around our
                  WebPages that alter in any way the visual presentation or appearance of our Website.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>Warranties</p>
                <span>
                  Neither Machine Learning intelligence, its Agencies, Attorneys, Members, Affiliates, nor
                  any Content Partner makes any warranty or representation that the Information is
                  accurate and timely. You understand that use of the Site and of the Products is
                  undertaken at Your own risk. Any information or data provided by our company is not
                  exhaustive or complete.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>Professional vs Non-Professional Status</p>
                <span>
                  All users, both individual and discord servers, are considered non-professional users,
                  and are not allowed to commercially redistribute our data. Our logos & information
                  should remain on every piece of content that is generated by us and shown to any of
                  your friends, users.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>Your Privacy</p>
                <span>
                  We respect your privacy rights! We will not sell or distribute your email address or other
                  information without your express consent. We also do not store your any of your credit
                  card information. Only our company, our Agencies, Attorneys, and Partners are entitled
                  to your information.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>Abuse of Payment Systems</p>
                <span>
                  You are entitled to ONE free trial period. Our system automatically checks if you have
                  already signed up for a free trial. If it is found that you are abusing the free trial system,
                  your card will be charged right away and you will be converted to a full subscription
                  instead of availing the trial.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>Duplicate Subscriptions</p>
                <span>
                  Please do not click on the subscription button more than once. That can result in
                  multiple subscriptions thereby causing multiple payments. We will not be held liable in
                  that case. It is the responsibility of the user to make sure they only click on the
                  subscription button once and not get duplicate subscriptions.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>Email Newsletters</p>
                <span>
                  When you sign up with an account, you are automatically enrolled in our email
                  newsletter service. If you wish to cancel it, you can either click unsubscribe to the email
                  newsletter in your inbox or go to your profile and unclick the email checkbox.
                  Newsletters are sent with different frequencies.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>Refund Policy</p>
                <span>
                  If you are under a free trial period, you will be charged at the end of your trial unless
                  cancelled. We do not provide refunds, unless errors are committed. All sales are final. it
                  is your responsibility to manage your subscription accordingly. You may your cancel
                  subscription at any time by clicking on the circle at the top of the website and going to
                  your profile.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>Reservation of Rights</p>
                <span>
                  We reserve the right to request that you remove all links or any particular link to our
                  Website. You approve to immediately remove all links to our Website upon request. We
                  also reserve the right to amen these terms and conditions and it’s linking policy at anytime. By continuously linking to our Website, you agree to be bound to and follow these
                  linking terms and conditions.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>Removal of links from our website</p>
                <span>
                  If you find any link on our Website that is offensive for any reason, you are free to
                  contact and inform us any moment. We will consider requests to remove links but we
                  are not obligated to or so or to respond to you directly. We do not ensure that the
                  information on this website is correct, we do not warrant its completeness or accuracy;
                  nor do we promise to ensure that the website remains available or that the material on
                  the website is kept up to date.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  