<div class=" content">
  <div class=" row">
    <div class="col-md-12">
      <h1 class="text-center">{{selectedPreviousDayPriceSymbol}} Previous Day Price</h1>
        <p-table 
          #dt1 
          [value]="previousDayPrice" 
          dataKey="id"
          [showCurrentPageReport]="true" 
          [loading]="previousDayPriceLoading" 
          styleClass="p-datatable-gridlines"
          responsiveLayout="scroll">
        <ng-template pTemplate="caption">
            <div class="d-flex justify-content-">
                <p-autoComplete 
                  #previousDayPriceSymbol 
                  [(ngModel)]="selectedPreviousDayPriceSymbol" 
                  [suggestions]="filteredSymbols" 
                  (completeMethod)="filterSymbol($event)"
                  [minLength]="1" 
                  (onSelect)="getPreviousDayPrice(previousDayPriceSymbol.value)" 
                  placeholder="Search symbol">
                </p-autoComplete>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
              <th>
                  <div class="flex justify-content-center align-items-center">
                      Symbol
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center align-items-center">
                      Open
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center align-items-center">
                      Close
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center align-items-center">
                      High
                  </div>
              </th>
              <th>
                  <div class="flex justify-content-center align-items-center">
                      Low
                  </div>
              </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-collection>
            <tr>
                <td>
                    {{collection.symbol}}
                </td>
                <td>
                    {{collection.open}}
                </td>
                <td>
                    {{collection.close}}
                </td>
                <td>
                    {{collection.high}}
                </td>
                <td>
                    {{collection.low}}
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">No collections found.</td>
            </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
