.trial-title {
  background-image: linear-gradient(to bottom left, #ff8d72, #ff6491, #ff8d72);
}

.basic-title {
  background-image: linear-gradient(to bottom left, #fd5d93, #ec250d, #fd5d93);
}

.pro-title {
  background-image: linear-gradient(to bottom left, #00f2c3, #0098f0, #00f2c3);
}

.expert-title {
  background-image: linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca);
}

.rounded-8 {
  border-radius: 8px !important;
}