<div class=" content">
    <div class=" row">
      <div class="container-fluid mx-5">
        <div class="title">
          <h1 class="display-2 text-center mt-5">FAQ</h1>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>1) I am having a hard time understanding the platform, please help?</p>
                <span>
                  Our platform is a more advanced version of other market data platforms. We suggest already
                  being familiar with other platforms and a strong understanding of financial markets. We will
                  add tutorials in phases.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>2) How is AI/ML being used in the tools?</p>
                <span>
                  Some of our retail and institutional grade solutions involve extensive use of AI and Machine
                  Learning although it is not all directly related to trading and direct investing in the markets;
                  some of the research serves institutional clients more than retail clients.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>3) How does Machine Learning Intelligence compare with other competitors?</p>
                <span>
                  Our competitors mostly focus on a single theme such as newsletters, financial journalism, top
                  buys and sells according to various research, and so forth; We are different because our
                  research platform is the most comprehensive one out there and helps all types of traders,
                  investors, academics, and others.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>4) What's the difference between a free account and the rest of the premium accounts?</p>
                <span>
                  We introduced the free account in order to allow a vast majority of enthusiasts to sign up
                      without having to immediately onboard to a paid product.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>5) What if I do not want to continue after my 7 day trial for $0 is over?</p>
                <span>
                  You can cancel your subscription any time by going to your profile. Before you do that, if there is
                  any feedback for us or any way we can keep you, please definitely let us know.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>6) Do you have a refund policy?</p>
                <span>
                  Once your subscription or trial payment has been charged, we do not have any refund policy.Please be aware of your subscription payment dates and cancel in time if you do not wish to
                      continue your service; in special circumstances we will provide refunds where errors have
                      occured.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>7) What if I have still any question?</p>
                <span>
                  Please contact us using the contact form provided on the platform.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>8) How do I cancel my subscription?</p>
                <span>
                  Please go to your profile on the website and click "Cancel Subscription". As stated in our TOS on
                  our main page. This must be done PRIOR to your renewal date or the next payment will be
                  billed. Always know your renewal date. We are sorry to see you go.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>9) How do I join Machine Learning Intelligence discord channel?</p>
                <span>
                  We do not have a discord channel for the time being, we may offer one later.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>10) How many securities are listed on the platform?</p>
                <span>
                  t depends, some subsections cover over 39,000 US equities, international dividends,
                      mutual funds, ADRs, and ETFs;
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>11) What are you trying to achieve as a company?</p>
                <span>
                  We want to offer both retail and institutional clients, with a focus on retail, access to
                      better tools and tracking of critical data.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>12) How do you build an edge vis-a-vis other similar platforms?</p>
                <span>
                  We strive to offer better research tools, more comprehensive updates across thousands of sources.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>13) As a company what is your opinion when you come across the retail segment that is interested in trading and investing?</p>
                <span>
                  We believe markets are highly complex and, from our research, the majority of retail
                      investors and traders that participate in retail brokerages often underperform in
                      today's world, systematic strategies from specialized firms can offer an edge with lowerrisk.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>14) What is your opinion of buy and hold portfolios?</p>
                <span>
                  While statistically speaking many strategies employed in buy and hold portfolios do well
                      over the long term (10-20 years), we believe that they can often under perform in the
                      short term due to the constant changes exhibited in financial markets conditions can
                      rapidly change and variables also change.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>15) What kind of instruments do you track?</p>
                <span>
                  We track all types of instruments, with a focus on what is listed on the US exchanges.
                </span>
              </div>
            </div>
          </div>
        </div>
        
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>16) Do you have the capacity to steer investors and traders in the right direct when it comes to finding advisors to work with?</p>
                <span>
                  Yes we can, and do have access to a variety of databases of active advisors, however we
                      do not make direct recommendations.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>17) What other licenses do you have?</p>
                <span>
                  Machine Learning Intelligence is a research and analytics company with access to third
                      party and proprietary data feeds; We are not a registered investment dealer, a member
                      of the Investment Industry Regulatory Organization of Canada (IIROC) or a member of
                      the Canadian Investor Protection Fund (CIPF). Machine Learning Intelligence is also not a
                      registered Portfolio Manager, Investment Fund Manager, and Exempt Market Dealer in
                      any jurisdiction; Machine Learning intelligence does not provide administrative, trade
                      execution, custodial and reporting service for any accounts.
                      </span>
                    </div>
                  </div>
                </div>
              </div>
        
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>18) Why is your pricing low compared to other firms that offer retail and institutional grade research and tools?</p>
                <span>
                  We believe in education first and foremost, and if education is priced substantially high,
                      access to the knowledge becomes very limited to special interest segments; in an effort
                      to allow larger segments to learn and participate we set our prices accordingly.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>19) Do you allow partners to advertise on your platform?</p>
                <span>
                  Not at the moment, but we may offer such options in the future.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>20) Do you have a slack account, forum or blog?</p>
                <span>
                  Not at the moment but we will offer these features later.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>21) What type of order types do you offer, i.e. OCO, IOC, MOO, and MOC?</p>
                <span>
                  We do not support any order types, as we do not offer a trading and execution service.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>22) What type of pre-market and aftermarket trading do you offer?</p>
                <span>
                  We do not support any pre-market or aftermarket trading, as we do we do not offer a
                  trading and execution service.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>23) What type of intraday or overnight buying power do you offer?</p>
                <span>
                  We do not offer any leverage, as we do not offer a trading and execution service.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>24) What type of short selling do you offer?</p>
                <span>
                  We do not offer any short selling, as we do not offer a trading and execution service.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>25) Is my account insured and legitimate?</p>
                <span>
                  Machine Learning Intelligence is not a member of SIPC or FINRA, or IIROC, and does not
                  require any such licenses We do not invest on behalf of any client.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>26) Do you support any fractional shares?</p>
                <span>
                  We do not support any shares, as we do not offer a trading and execution service.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>27) Do you offer access to your API's?</p>
                <span>
                  No we do not, as we do not have our own API's.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>28) Do you offer employment opportunities?</p>
                <span>
                  Depending on our schedules, we may offer opportunities on a case by case basis.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>29) How do I access your Terms and Conditions and Privacy Policy?</p>
                <span>
                  We may access it on the home page.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>30) Do you offer a subscription in print?</p>
                <span>
                  We do not currently offer a printable version of our work, but we do plan on adding this
                      at later phases.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>31) Do you offer any courses?</p>
                <span>
                  We do not offer courses at the moment, but may offer educational materials in the form
                      of courses in the future.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>32) What jurisdiction are you registered in?</p>
                <span>
                  We are registered Canadian Corporation, Group 8 Security Solutions Inc; we are not
                      registered in any other jurisdictions for the time being.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>33) Where can I find your subscription fees and terms?</p>
                <span>
                  You will find our subscription fees listed when you choose to become a member.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>34) Can you provide your research via email and newsletter?</p>
                <span>
                  We can provide some research and updates via email and newsletter on a limited basis.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>35) Where can I see a list of testimonials?</p>
                <span>
                  We do not have a list of any testimonials for the time being.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>36) How can I pay for the subscription?</p>
                <span>
                  We accept all major credit cards as well as Paypal.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class=" card">
          <div class=" card-body">
            <div class=" row mx-5">
              <div class="content">
                <p>37) Do you accept international clients?</p>
                <span>
                  Yes. our work is also relevant to international clients outside of the US and Canadian
                  markets.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  